<div class = "form">
<h1 class = 'coach'>Stupid Coaching</h1>
<form action="/answer"  data-turbo="false">
  <input type="text" name="question" class= "add">
  <input type="submit" value="Ask!" class = "button">
</form>
</div>
