/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.form {
  flex: display;
  flex-flow: wrap;
  -ms-flex-align: center;
}



 .containter1 {
  color: rgb(57, 57, 182);
 }

 .coach {
  text-decoration: solid;
  color: rgb(15, 15, 14);
  margin: 10px 205px;
 }

.button {
  background-color: blue;
  border-radius: 7px;
  border: 1px;
  color: white;
  text-decoration: solid;
}

.add {
  border: 2px solid rgb(219, 205, 205);
  border-radius: 10px;
  width: 80%;
  padding: 12px 20px;
  margin: 8px 15px;
  box-sizing: border-box;
}
